{
    "IBT": {
        "reason": "Italy Base Team",
        "repeat_frequency": "no_repeat",
        "starts_at": "2024-03-09T04:00:00Z",
        "ends_at": "2024-06-12T04:00:00Z",
        "share": "false"
    },
    "IIT-1": {
        "reason": "Italy Impact Team 1",
        "repeat_frequency": "no_repeat",
        "starts_at": "2024-04-10T04:00:00Z",
        "ends_at": "2024-05-11T04:00:00Z",
        "share": "false"
    },
    "IIT-2": {
        "reason": "Italy Impact Team 2",
        "repeat_frequency": "no_repeat",
        "starts_at": "2024-05-15T04:00:00Z",
        "ends_at": "2024-06-09T04:00:00Z",
        "share": "false"
    },
    "MBT": {
        "reason": "Mexico Base Team",
        "repeat_frequency": "no_repeat",
        "starts_at": "2024-06-01504:00:00Z",
        "ends_at": "2024-06-30T04:00:00Z",
        "share": "false"
    }
}